<mat-card>
  <mat-card-content>
    <form [formGroup]="formMain" class="example-form">
      <mat-card>
        <mat-card-title class="mat-card-title--sub">Spelers</mat-card-title>
        <div formArrayName="spelers" *ngFor="let speler of spelers.controls; let i=index;">
          <div formGroupName="{{i}}">
            <mat-form-field>
              <input matInput placeholder="Naam" formControlName="naam">
            </mat-form-field>
            <button mat-icon-button color="primary" (click)="deleteSpeler(i)" *ngIf="spelers.length > 1">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-error *ngIf="isInvalidControl('spelers.'+i+'.naam')">
              {{ getControlErrors('spelers.'+i+'.naam', 'naam') }}
            </mat-error>
          </div>
        </div>
        <mat-card-footer class="button-row">
          <button mat-icon-button color="primary" (click)="addSpeler()" *ngIf="spelers.length < 5">
            <mat-icon aria-label="Voeg speler toe">add</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
      <mat-card>
        <mat-card-title class="mat-card-title--sub">Opties</mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <mat-select placeholder="Aantal punten" formControlName="puntenPerGame">
              <mat-option *ngFor="let puntenPerGame of game.puntenPerGameOpties" [value]="puntenPerGame" >
                {{ puntenPerGame }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
<!--          <mat-form-field>
            <mat-select placeholder="Tijdslimiet (minuten)" formControlName="tijdslimiet">
              <mat-option *ngFor="let tijdslimietOption of game.tijdslimietOpties" [value]="tijdslimietOption" >
                {{ tijdslimietOption }}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
          <section class="example-section">
            <mat-slide-toggle formControlName="willekeurigeVolgorde">Speel in willekeurige volgorde</mat-slide-toggle>
          </section>
        </mat-card-content>
        <mat-card-actions class="mat-card-actions--buttons">
          <button mat-raised-button color="primary" (click)="next()" type="button">Game on !</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-card-content>
</mat-card>
